<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.soops.dao.UserDAO">

    <resultMap id="user_query" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birth" property="birth"/>

        <association property="avatar" javaType="File">
            <id column="avatar_id" property="id"/>
            <result column="realName" property="realName"/>
            <result column="type" property="type"/>
        </association>
    </resultMap>

    <!-- 通过ID来获取用户-->
    <select id="getUserById" resultMap="user_query">
        select t_user.id, t_user.username, t_user.password, t_user.birth,
                t_file.id avatar_id, t_file.realName, t_file.type
        from t_user join t_file on t_file.id = t_user.avatar
        where t_user.id=#{userId}
    </select>
    <!-- 通过ID来获取用户-->

    <!-- 通过用户名来获取用户-->
    <select id="getUserByUsername" resultMap="user_query">
       select t_user.id, t_user.username, t_user.password, t_user.birth,
                t_file.id avatar_id, t_file.realName, t_file.type
        from t_user join t_file on t_file.id = t_user.avatar
        where t_user.username=#{username}
    </select>
    <!-- 通过用户名来获取用户-->
</mapper>